@model WebMarkReport.Models.ViewModels.TableViewModel

@{
    ViewData["Title"] = "График производства работ";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>График производства работ</title>
</head>
<body>
    <table class="table table-bordered table-dark table-striped table-hover">
        <thead>
            <tr>
                <th colspan=@(Model.Technology_cards.Count + 1) class="text-center">
                    <h2>
                        @Model.L1_name @Model.L2_name
                    </h2>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in Model.Sublayer1_items.Select(k => k.Key).ToList())
            {
                <tr>
                    <th>
                        @Model.Sublayer1_items.First(k => k.Key == p).Value
                    </th>
                    @{
                        int? status;
                    }
                    
                    @foreach (var card in Model.Technology_cards)
                    {                      
                        status = Model.WorkProgress
                            .Where(n => n.Id_sublayer1 == p)
                            .FirstOrDefault(n => n.Id_technology_card == card.Key)
                            ?.Id_status;
                        @if (status == 1)
                        {
                            <td class="text-center bg-success"></td>
                        }
                        else if (status == 2)
                        {
                            <td class="text-center bg-warning">
                                @Model.WorkProgress.First(n => n.Id_technology_card == card.Key).Accept_quantity.ToString()%
                            </td>
                        }
                        else if (status == 3)
                        {
                            <td class="text-center bg-danger ">
                                @Model.WorkProgress.First(n => n.Id_technology_card == card.Key).Lag_days_count
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
            <tr>
                <th scope="col"> </th>
                @{ string coloumnColor = "colorOdd";}

                @foreach (var card in Model.Technology_cards)
                {
                    <th class= @coloumnColor>
                        <div id = "rotateText">@card.Value</div>
                    </th>
                    @if (coloumnColor == "colorOdd")
                    {
                        coloumnColor = "colorEven";
                    }
                    else
                    {
                        coloumnColor = "colorOdd";
                    }
                }
            </tr>
        </tbody>
    </table>
</body>
</html>

<style type="text/css">
    #rotateText {
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
    }

    .colorOdd
    {
        background-color: #343a40;
    }

    .colorEven
    {
        background-color: rgba(255, 255, 255, 0.05);
    }
</style>






