@model WebMarkReport.Models.ViewModels.TableViewData

@{
    ViewData["Title"] = "График производства работ";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>График производства работ</title>
</head>
<body>
    <table class="table table-bordered table-dark table-striped table-hover">
        <thead>
            <tr>
                <th colspan=@(Model.Technology_cards.Count + 1) class="text-center">
                    <h2>
                        @Model.L1_name @Model.L2_name
                    </h2>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in Model.Sublayer1_items.Select(k => k.Key).ToList())
            {
            <tr>
                <th>
                    @Model.Sublayer1_items.First(k => k.Key == p).Value
                </th>
                @{
                    int status;
                }
                @foreach (var c in Model.Technology_cards)
                {
                    status = Model.WorkProgress.First(n => n.Id_technology_card == c.Key).Id_status;
                    @if (status == 1)
                    {
                        <td class="text-center bg-success">
                        </td>
                    }
                    else if (status == 2)
                    {
                        <td class="text-center bg-warning">
                            @Model.WorkProgress.First(n => n.Id_technology_card == c.Key).Accept_quantity.ToString()%
                        </td>
                    }
                    else if (status == 3)
                    {
                        <td class="text-center bg-danger ">
                            @Model.WorkProgress.First(n => n.Id_technology_card == c.Key).Lag_days_count
                        </td>
                    }

                }
            </tr>
            }
            <tr>
                <th scope="col"> </th>
                @{ string coloumnColor = "colorOdd";}

                @foreach (var p in Model.Technology_cards)
                {
                    <th class= @coloumnColor>
                        <div id="rotateText">@p.Value</div>
                    </th>
                    @if (coloumnColor == "colorOdd")
                    {
                        coloumnColor = "colorEven";
                    }
                    else
                    {
                        coloumnColor = "colorOdd";
                    }
                }
            </tr>
        </tbody>
    </table>
</body>
</html>

<style type="text/css">
    #rotateText {
        /*transform-origin: 0 0;*/
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        /*width: 250px; ширина блока
        height: 250px; высота блока */
    }

    .colorOdd
    {
        background-color: #343a40;
    }

    .colorEven
    {
        background-color: rgba(255, 255, 255, 0.05);
    }
</style>






